<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.judge.mapper.ReadMapper">

    <!-- certificate table -->
    <insert id="insertCertificate">
        INSERT INTO
            certificate
        VALUES
            (#{issueApplyId},
            #{jointAgentId},
            #{certificateClass},
            #{twoWayFlag},
            #{paymentUnitClass},
            #{validTermClass},
            #{certificateStatus},
            #{certificateX509},
            #{certificateSerialNumber},
            #{validTermStartDate},
            #{validTermEndDate},
            #{updatedApplyId},
            #{revokeApplyId},
            #{revokeReserveClass},
            #{revokeDate},
            #{reissueCertificateClass},
            #{reissuedClass},
            #{issueAvailableDate})
    </insert>
    <select id="selectX509" resultType="string">
        SELECT
            certificate_x509
        FROM
            certificate
        WHERE
            (certificate_x509 IS NOT NULL AND certificate_x509 !='') AND
            (valid_term_start_date &lt;= '2019-07-31' AND valid_term_end_date &gt;= '2021-01-31'
            OR valid_term_start_date BETWEEN '2019-08-01' AND '2019-09-30') )
    </select>
    <select id="selectIssueApplyId" resultType="string">
        SELECT
            issue_apply_id
        FROM
            certificate
        WHERE
            certificate_x509=#{certificateX509}
    </select>
    <select id="selectJointAgentId" resultType="com.java.judge.dto.DomainDto">
        SELECT
            joint_agent_id
        FROM
            certificate
        WHERE
            issue_apply_id=#{issueApplyId}"
    </select>

    <!-- domain table -->
    <insert id="insertDomain">
        INSERT INTO
            domain
        VALUES
            (#{issueApplyId},
            #{dnCn},
            #{employeeName},
            #{status},
            #{recUpdDate},
            #{wildcardFlag})
    </insert>
    <select id="selectG3Domain" resultType="com.java.judge.dto.DomainDto">
        SELECT
            *
        FROM
            domain
        WHERE
            (status LIKE 'JPRS%' AND status LIKE '%G3')
    </select>
    <select id="selectAllDomain" resultType="com.java.judge.dto.DomainDto">
        SELECT
            *
        FROM
            domain
    </select>
    <select id="countG3">
        SELECT
            COUNT(*)
        FROM
            domain
        WHERE
            (status LIKE 'JPRS%' AND status LIKE '%G3')
    </select>
    <select id="countDV">
        SELECT
            COUNT(*)
        FROM
            domain
        WHERE
            (status LIKE 'JPRS%' AND status LIKE '%Domain%' AND status LIKE '%G3')
    </select>
    <select id="countOV">
        SELECT
            COUNT(*)
        FROM
            domain
        WHERE
            (status LIKE 'JPRS%' AND status LIKE '%Organization%' AND status LIKE '%G3')
    </select>
    <select id="selectOneCert" resultType="com.java.judge.dto.DomainDto">
        SELECT
            *
        FROM
            domain
        WHERE
            dn_cn=#{dnCn}
    </select>
    <update id="updateDomain">
        UPDATE
            domain
        SET
            status=#{status},
            rec_upd_date=#{recUpdDate}
        WHERE
            issue_apply_id=#{issueApplyId}
    </update>

    <!-- agent Table -->
    <insert id="insertAgent">
        INSERT INTO
            agent
        VALUES
            (#{jointAgentId},
            #{agentName})
    </insert>
    <select id="selectAgentName" resultType="string">
        SELECT
            agent_name
        FROM
            agent
        WHERE
            joint_agent_id=#{jointAgentId}
    </select>
</mapper>
