<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- add entry to enable component scanning -->

    <context:component-scan
        base-package="com.java.judge" />

    <!-- Load the properties file -->
    <context:property-placeholder
        location="classpath:application.properties" />

    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="contentType">
            <value>text/plain; charset=ISO-2022-JP</value>
        </property>
        <property name="cache">
            <value>true</value>
        </property>
        <property name="prefix">
            <value></value>
        </property>
        <property name="suffix">
            <value>.vm</value>
        </property>
    </bean>

</beans>